# Django secret key (замени на свой реальный ключ)
SECRET_KEY=
# Debug mode (True для разработки, False для продакшена)
DEBUG=True

# Настройки подключения к PostgreSQL
DB_NAME=bulletin_board
DB_USER=postgres
DB_PASSWORD=12345
DB_HOST=db
DB_PORT=5432